* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header ul{
  display: flex;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e0f2f7;
  border-bottom: 1px solid #0099c4;
  font-size: 18px;
}

.header ul li{
  border: 1px solid;
  padding: 10px 15px;
  color: #0099c4;
}

.header ul li a {
  text-decoration: none;
  color: #0099c4;
}

img {
  width: 100px;
  height:90px;
}

.hero {
  background-color: #e0f2f7;
  height: 80vh;
  padding: 50px;
  font-size: 24px;
  border-bottom: 1px solid #0099c4;
}

.headquarter {
  background-color: #e0f2f7;
  padding: 50px;
  font-size: 24px;
}

.locations-co {
  display: flex;
  gap: 100px;
}

.location {
  text-align: center;
}

 .circle {
  width: 200px;
  height: 200px;
  background-color: #0099c4;
  border-radius: 50%;
}

